/* Set to False for production */
FLASK_DEBUG=True
SECRET_KEY="Add your secret key here"
PASSWORD_SALT="ADD YOUR SALT HERE"
JWT_SECRET_KEY="Add your secret key here"

DATABASE_NAME="db_name"
DATABASE_USER="db_username"
DATABASE_PASSWORD="db_user_password"

/* Set to True for production */
JWT_COOKIE_SECURE=False

/* Set to True for production */
JWT_COOKIE_CSRF_PROTECT=False
