@import '../../utils/variables';

.dash-page-wrap {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $xs) {
    height: 100vh;
  }
}

.dash {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $xs) {
    height: 100%;
    flex-direction: row;
  }
}

.dash-side-bar {
  display: inline-block;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid $gray-300;
  border-right: 1px solid $gray-300;
  @media screen and (min-width: $xs) {
    width: 300px;
    height: 100%;
    border-bottom: none;
  }
}

.dash-content {
  width: 100%;
  height: 100%;
  padding: 2rem 5% 25vh 5%;
  @media screen and (min-width: $xs) {
    overflow-y: scroll;
  }
  @media screen and (min-width: $lg) {
    padding: 2rem 15%;
  }
}

.btn-disabled {
  &:hover {
    background: transparent !important;
    cursor: not-allowed;
  }
}