<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Volunteer Matching</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar level" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-size-4" href="{{ url_for('index') }}">Volunteer Matching</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-size-5"
              href="{{ url_for('opportunities') }}">
              Opportunities
            </a>
            <a class="navbar-item is-size-5"
              href="{{ url_for('partners') }}">
              Partners
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              {% if current_user.is_anonymous %}
              <a class="button" href="{{ url_for('login') }}">Log In</a>
              {% else %}
              <a class="button" href="{{ url_for('logout') }}">Log Out</a>
              {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
