@import '../../utils/_variables.scss';
@import './bootstrap.min.css';

.badge {
  padding: 8px 15px;
  margin: 0 5px;
}

.btn-group {
  .btn {
    margin-right: 5px;
  }
}

.btn-group-full-form {
  display: flex;
  .btn {
    flex: 1;
    margin: 0;
    &:first-of-type {
      margin-right: 30px;
    }
  }
}

.btn {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

textarea {
  min-height: 50px;
}