@import '../../utils/_variables.scss';
@import './bootstrap.min.css';

body {
  height: 100vh;
}

#root {
  // 86.75px is the height of the navbar. :)
  height: calc(100% - 86.75px);
}

.badge {
  padding: 8px 15px;
  margin: 0 5px;
}

.btn-primary {
  &:hover {
    background: $gray-800;
  }
}

.btn-group {
  .btn {
    margin-right: 5px;
  }
}

.btn-group-full-form {
  display: flex;
  .btn {
    flex: 1;
    margin: 0;
    &:first-of-type {
      margin-right: 30px;
    }
  }
}

.btn {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

textarea {
  min-height: 50px;
}

label {
  display: block;
}