{% extends "admin.html" %}

{% block admin %}

<table class="table">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Access</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th>{{ user.email }}</th>
      <th>
      {% for r in user.roles %}
      {{ r.name }}
      {% endfor %}
      </th>
      <th><a href="{{ url_for('edit_user', id=user.id) }}">
        <span class="icon"><i class="fas fa-pencil-alt"></i></span>
      </a></th>
      <th><a href="{{ url_for('delete_user', id=user.id) }}">
        <span class="icon"><i class="fas fa-trash-alt"></i></span>
      </a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
