{% extends 'admin.html' %}

{% block admin %}

<p>
Passions<br>
{% for passion in passions %}
{{ passion.name }} <a href="{{ url_for('admin_passions_delete', id=passion.id) }}">X</a>
{% endfor %}
</p>

<div>Add a passion:
<form action="" method="post">
  {{ passion_form.hidden_tag() }}
  <p>
    {{ passion_form.passion_name(size=20) }}
    {% for error in passion_form.passion_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ passion_form.submit() }}</p>
</form>
</div>

<p>
Age Group Interests<br>
{% for age_group_interest in age_group_interests %}
{{ age_group_interest.name }}
<a href="{{ url_for('admin_age_group_interest_delete',
           id=age_group_interest.id) }}">X</a>
{% endfor %}
</p>

<div>Add an age group interest:
<form action="" method="post">
  {{ agi_form.hidden_tag() }}
  <p>
    {{ agi_form.agi_name(size=20) }}
    {% for error in agi_form.agi_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ agi_form.submit_agi() }}</p>
</form>
</div>

<p>
Skills<br>
{% for skill in skills %}
{{ skill.name }}
<a href="{{ url_for('skill_delete',
           id=skill.id) }}">X</a>
{% endfor %}
</p>

<div>Add a skill:
<form action="" method="post">
  {{ skill_form.hidden_tag() }}
  <p>
    {{ skill_form.skill_name(size=20) }}
    {% for error in skill_form.skill_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ skill_form.submit_skill() }}</p>
</form>
</div>

<p>
Frequencies<br>
{% for frequency in frequencies %}
{{ frequency.name }}
<a href="{{ url_for('frequency_delete',
           id=frequency.id) }}">X</a>
{% endfor %}
</p>

<div>Add a frequency:
<form action="" method="post">
  {{ frequency_form.hidden_tag() }}
  <p>
    {{ frequency_form.frequency_name(size=20) }}
    {% for error in frequency_form.frequency_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ frequency_form.submit_frequency() }}</p>
</form>
</div>

{% endblock %}
