{% extends 'base.html' %}

{% block content %}
<h1>Create Opportunity</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br>
    {{ form.name(size=50) }}<br>
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.partner_id.label }}<br>
    {{ form.partner_id }}<br>
    {% for error in form.partner_id.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.location_street.label }}<br>
    {{ form.location_street }}<br>
    {% for error in form.location_street.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.location_city.label }}<br>
    {{ form.location_city }}<br>
    {% for error in form.location_city.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.location_zip.label }}<br>
    {{ form.location_zip }}<br>
    {% for error in form.location_zip.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.active.label }}<br>
    {{ form.active }}<br>
    {% for error in form.active.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.job_number.label }}<br>
    {{ form.job_number }}<br>
    {% for error in form.job_number.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br>
    {{ form.description }}<br>
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.shift_hours.label }}<br>
    {{ form.shift_hours }}<br>
    {% for error in form.shift_hours.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.commitment_length.label }}<br>
    {{ form.commitment_length }}<br>
    {% for error in form.commitment_length.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.start_date.label }}<br>
    {{ form.start_date }}<br>
    {% for error in form.start_date.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.end_date.label }}<br>
    {{ form.end_date }}<br>
    {% for error in form.end_date.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.training_time_required.label }}<br>
    {{ form.training_time_required }}<br>
    {% for error in form.training_time_required.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.volunteers_needed.label }}<br>
    {{ form.volunteers_needed }}<br>
    {% for error in form.volunteers_needed.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
